<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-buttons>
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-card *ngFor="let asignatura of asignaturas">
    <img 
      alt="{{ asignatura.nombre }}" 
      [src]="asignatura.imagePath" 
      style="max-height: 150px; object-fit: cover; width: 100%;"
    />
    <ion-card-header>
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
        <ion-button size="default" (click)="goToAsignaturaDetalle(asignatura.id)">Ver Detalle</ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Aula:</strong> {{ asignatura.sala }}</p>
      <p><strong>Horario:</strong> {{ asignatura.horario }}</p>
      <p><strong>Cantidad de Alumnos:</strong> {{ asignatura.alumnos.length }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
