<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-align-items-center">
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-input type="text" placeholder="Rut" formControlName="rut"></ion-input>
        </ion-item>

        <div id="alerta" *ngIf="loginForm.get('rut')?.invalid && (loginForm.get('rut')?.dirty || 
                  loginForm.get('rut')?.touched)">
          <div id="alerta" *ngIf="loginForm.get('rut')?.hasError('required')">
            *Usuario es obligatorio
          </div>
          <div id="alerta" *ngIf="loginForm.get('rut')?.hasError('minlength')">
            *Usuario debe tener mínimo 6 caracteres
          </div>
        </div>

        <ion-item>
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>
        <ion-router-link routerLink="/recuperar-cuenta" class="txtcenter mtb-16">
          Recuperar Contraseña
        </ion-router-link>
        <ion-button expand="full" (click)="login()" shape="round">Iniciar Sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
